/** @format */

#parentBo {
  /* border: 1px solid black; */
  width: 100%;
  /* margin-left: 8%; */
  /* height:150px; */
  cursor: pointer;
}

.footer {
  width: 100%;
  gap: 15px;
  /* border: solid blue; */
  display: flex;
  /* flex-direction: row; */
  /* margin: auto; */
  align-content: center;
  justify-content: center;
  height: 38px;
  /* text-align: center; */
  background-color: rgb(3, 111, 220);
  color: aliceblue;
  /* margin-right: 10%; */
  /* justify-content: center; */
  /* margin-right:10%; */
}
.ptag {
  /* border: 2px solid blue; */
  /* margin-left: 10%; */
  justify-content: space-around;
}
/* .p1tag { */
/* border: 2px solid blue; */
/* margin-right: 10%; */
/* } */
/* .tag { */
/* border: 2px solid blue; */
/* margin-left: 35%; */
/* margin-right: 10%; */
/* } */

/* .tag1 {
  /* border: 2px solid blue; */
/* margin-left: 10%; */
/* margin-right: 45%; */
/* } */

#h5tag {
  /* border: 2px solid blue; */
  margin-top: 17px;

  /* margin-right: 10%; */
}
#Box1 {
  /* border:solid; */
  /* border: 2px solid blue; */
  height: 150px;
  text-align: center;
  background-color: #356391;
  cursor: pointer;
  /* margin-top: 5% */
}
#h4tag {
  /* border: 2px solid blue; */
  padding-top: 30px;
}
/* .button{
    width:11%;
    height:40px;
    border-radius: 40px;
    font-weight: bold;
    background-color: white;
    color: black;
    border:1px solid black;
    
    
} */
#change {
  display: grid;
  /* border: solid black; */
  grid-template-columns: repeat(1, 1fr);

  align-items: center;
  /* align-content: center; */
  /* justify-items: center; */
  /* justify-content: center; */
}
