#container {
      
    width: 30%;
    height: 1000px;
    
    margin: auto;
  }
  #container1 {
    
  
    height: 370px;
    
  }
  #container2 {
    /* border: 1px solid red; */
    height: 12%;
  }
  #container3 {
    /* border: 1px solid red; */
    height: 17%;
  }
  #container4 {
    /* border: 1px solid red; */
    height: 13%;
    /* text-align: center; */
  }
  #id2 {
    display: grid;
    grid-gap: 20px;
  }
  .id {
    height: 40px;
    width: 350px;
    border-radius: 3px;
    gap: 20px 20px 20px;
    
    
  }
  
  #createbtn {
    height: 40px;
    width: 200px;
  }
  .id3 {
    padding: 18px;
    border-radius: 50px;
    width: 360px;
    background-color: blue;
    color: white;
    font-weight: bold;
    margin-top: 20px;
  }
  #cne {
    text-align: center;
  }
  #img {
    height: 80px;
    width: 80px;
    margin: auto;
    text-align: center;
    margin-left: 130px;
  }
  #cen {
    text-align: center;
    margin-right: 100px;
  }
  input[type="checkbox"]{
    height: 18px;
    width: 18px;
  }
  .details{
    font: semiBold 600 italic;
    font-size: 22px;
    color: black;
  }